<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name = "Automation Test">
    <test name = "Smoke TestCases">
        <groups>
            <run>
                <include name = "Smoke test"/>
            </run>
        </groups>
        <classes>
            <class name = "TestCases.MainTest"/>
        </classes>
    </test>

</suite>