<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name = "Automation Test">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
        <listener class-name="com.epam.framework.utility.Listeners"/>
    </listeners>
    <test name = "Smoke">
        <groups>
            <run>
                <include name = "Smoke test"/>
            </run>
        </groups>
        <classes>
            <class name = "com.epam.framework.MailTest"/>
        </classes>
    </test>

</suite>